<% layout("./layouts/boilerplate") %>

<body>
    <h3 class="my-2">Here are Post Details:-</h3>
    <div class="row card show">
        
           
            <div class="card-show">
                <h3>Username: @<%=post.username  %></h3>
                <p>Title: <%=post.title  %></p>
                <p>Content: <%=post.content  %></p>
            </div>
       
    </div>
    
</body>
